<div class="availability-modal">
  <div class="modal-header container-fluid">
    <h5 class="modal-title" id="modal-basic-title">Check Availability & Book Now</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4">
        <img src={{hotel.image_url}}/>
      </div>
      <div class="col-sm-8">
        <span class="hotel-name">{{hotel.name}}</span><br/>
        Rate: $100 per month<br/>
        Availability: True<br/>
        {{hotel.room_types[1].id}}
      </div>
    </div><br/>
    <span>Booking Status : Successful</span><br/><br/>
    
    <form>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label class="control-label">Room Type</label>
            <select class="form-control" ng-model="selected" ng-options="room_type.id as room_type.kind for room_type in hotel.room_types"></select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <label for="moveindate">Move-in Date</label>
            <div class="input-group">
              <input id="moveindate" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <label for="moveoutdate">Move-out Date</label>
            <div class="input-group">
              <input id="moveoutdate" class="form-control" placeholder="yyyy-mm-dd" name="dp1" ngbDatepicker #dp1="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="dp1.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Book</button>
  </div>
</div>