<div class="container-fluid">
  <h2>Hotels List</h2>
  <div class="hotels">
    <div *ngFor="let hotel of hotels">
      <div class="row" (click)="open(hotel)">
        <div class="col-sm-1">
          <img src={{hotel.image_url}}/>
        </div>
        <div class="col-sm-11">
          <span>{{hotel.name}}</span>
          <br/>
          <br/>
          <span>Is this hotel available? {{hotel.available || false}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
