/* HeroesComponent's private CSS styles */
.hotels {
  img {
    height: 70px;
    margin-right: 20px;
    background-color: black;
  }

  .row {
    background-color: #EEE;
    margin: 10px 0px;
    padding: 10px;
    cursor: pointer;
  }
}